{% extends "layout.html" %}

{% block content %}

<div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display">{{ title }}</h1>

        <p class="mt-4">* 본 그래프는 문화체육관광부에서 주관하는 국민여행 실태조사의 통계를 기반으로 작성되었습니다.
            <br> * 국내여행은 행정구역상 현 거주지(일상생활권)를 벗어나 다른 지역을 다녀온 모든 일정을 뜻합니다. (‘국민여행실태조사’, 문화체육관광부 참조)
            <br> - 행정구역상 ‘현 거주지’ 및 ‘다른 지역’은 시/군 단위, 특별/광역시일 경우 구 단위를 의미하며 아래와 같이 17개의 지역으로 구분됩니다.
            <br> 경기, 서울, 강원, 충남, 경남, 경북, 전남, 부산, 전북, 충북, 인천, 제주, 대구, 대전, 광주, 울산, 세종
            <br> - 행정 구역을 벗어난 경우라도 다음과 같은 경우는 국내 여행에서 제외합니다.
            <br> - 단순 영화감상이나 쇼핑만을 목적으로 행정구역을 벗어난 경우
            <br> - 직장이나 거주지 근처의 산책이나 등산, 취미나 교양생활, 스포츠 등의 일상적이며 규칙적인 여가활동
        </p>
    </div>

    <div class="card mt-4 mb-4">
        <div class="row no-gutters">
            <div class="col-md-5">
                <img src="data:image/png;base64,{{ img1 }}" width="100%">
            </div>
            <div class="col-md-5">
                <div class="card-body">
                    <h5 class="card-title">인기 많은 관광지 순위</h5>
                    <p class="card-text">2011년~2017년까지 수록된 누적 데이터를 기반으로, 15세부터 60세
                        이상까지 다양한 연령별의 소계로 분석하였을 때 가장 많이 방문한 지역을
                        순차적으로 나타내고 있는 그래프입니다.
                        각 지역별 누적 방문자의 총합은 123,455,071명이며 1위는 경기도로 누적 방문자 중 13.4%가 방문하였습니다.
                        전체 누적 방문자의 50%는 1위인 경기도부터 6위인 경북에 편중 되어있으며, 16위인 울산은 1.53%, 세종시는 0.51%로 여행지로 낮은 비율로 나타났습니다.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            연령별 인기 여행지 순위
        </div>
        <img src="data:image/png;base64,{{ img2 }}" class="card-img-top">
        <div class="card-body">
            <p class="card-text"> 위 그래프는 국내여행 방문자를 15~19세, 20대, 30대, 40대, 50대, 60대 이상으로 구분 지어 각 연령별로 어느 지역을 많이
                방문했는지를 보여주는 그래프입니다.
                지역 순서는 [인기 많은 관광지 순위]의 순위를 따르고 있습니다. 60대 이상 방문객은 17곳 중 경기와 제주를 제외한 15곳에서 가장 높은 방문율을 보여주고 있습니다.
                15~19세와 20대는 다른 연령층에 비해 국내 여행율이 현저히 낮은데, 특히 15~19세는 거의 모든 지역에서 20대보다 2배 가량 더 낮은 것으로 나타났습니다.
            </p>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header">
            연령별 관광지 선택 이유
        </div>
        <img src="data:image/png;base64,{{ img3 }}" class="card-img-top">
        <div class="card-body">
            <p class="card-text">위는 연령별 관광지 선택 이유를 보여주는 그래프로 방문지를 선택한 이유는 모든 연령대가 비슷한 양상을 보이고 있습니다.
                여행지 선택 이유 중 가장 높은 선택율을 보인 요인은 ‘여행지명도’로 모든 연령대에서 50% 전후로 압도적인 비율을 보여주고 있습니다.
                다음으로는 ‘동반자유형’, ‘이동거리’이 있고 있고 나머지 이유는 5% 미만으로 낮은 비율을 보입니다.
            </p>
        </div>
    </div>
</div>

{% endblock %}