{% extends "layout.html" %}

{% block content %}

    <div class="container-fluid">
        <h2 class="mt-4">{{ title }}.</h2>
        <ul class="list-group">
              <li class="list-group-item active">이름</li>
            <li class="list-group-item">박상우</li>
            <li class="list-group-item">진소라</li>
            <li class="list-group-item">이정은</li>
        </ul>
        <br><br><br>
        <address>
            <div>
                <strong>Github:</strong><a href="https://github.com/psw7205/inside-trip">
                <i class="fa fa-github">https://github.com/psw7205/inside-trip</i>
            </a>
            </div>
            <div>
                <strong>Support:</strong>
                <a href="mailto:psw7205@gmail.com">psw7205@gmail.com</a>
            </div>
        </address>
    </div>

{% endblock %}