{% extends "layout.html" %}

{% block content %}

    <div class="container">
        <div class="jumbotron mt-4">
            <h1 class="display-4"> {{ title }}</h1>
            <p class="lead"></p>

            <div class="card-columns mt-4">
                <div class="card text-white bg-primary" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Rate</h5>
                    </div>
                </div>

                <div class="card text-white bg-primary" style="max-width: 18rem;">
                    <div class="card-header">Header</div>
                    <div class="card-body">
                        <h5 class="card-title">Rate</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}