{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">국내 여행지 종합 만족도</h1>
        <p class="lead">누적방문객과 만족도를 종합한 지역 인기 방문 순위 <br>
            1위: 경기도 , 17위: 세종</p>
    </div>
    <div class="card-deck mt-4">
        <div class="card">
            <img src="data:image/png;base64,{{ img1 }}" width="100%">
        </div>

        <div class="card">
            <img src="data:image/png;base64,{{ img1_2 }}" width="100%">
        </div>
    </div>
    <div class="jumbotron mt-4">
        <h1 class="display-4">2019 여름 여행 트랜드</h1>
        <p class="lead">경기도 장흥 계곡의 백숙맛집으로 애견동반 가족여행 </p>
    </div>
    <div class="card-deck mt-4 mb-4">
        <div class="card">
            {{ map2 }}
            <p>
                <br>
                <br>
                인스타그램에서 #국내여행 으로 해시태그 된 최신 게시물 1500개를 크롤링하여 WORDCLOUD로 많이 노출되는 단어의 빈도를 분석하였다.
                그 결과 ‘경기도 장흥계곡 근처 애견동반 가능한 오리백숙맛집으로 가족여행’을 떠나는 것이 트랜드임을 알 수 있다.
                SNS는 젊은 세대가 위주이기 때문에 전 연령대를 대표하기에 일반화의 오류가 있을 수 있으나 WORDCLOUD결과 가족여행 단위가 많은 것을 보아 이 부분은 보완가능하다 판단하였다.
            </p>
        </div>

        <div class="card">
            <img src="data:image/png;base64,{{ img2 }}" width="100%">
        </div>
    </div>
</div>

{% endblock %}