{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div class="jumbotron mt-4">
        <h1 class="display-4">국내 여행지 종합 만족도</h1>
        <p class="lead">종합만족도 순위</p>
    </div>
    <div class="card-deck mt-4">
        <div class="card">
            <img src="data:image/png;base64,{{ img1 }}" width="100%">
        </div>

        <div class="card">
            <img src="data:image/png;base64,{{ img1_2 }}" width="100%">
        </div>
    </div>
    <div class="jumbotron mt-4">
        <h1 class="display-4">2019 여름 여행 트랜드</h1>
        <p class="lead">경기도 장흥의 계곡으로 애견 동반 여행</p>
    </div>
    <div class="card-deck mt-4 mb-4">
        <div class="card">
            {{ map2 }}
        </div>

        <div class="card">
            <img src="data:image/png;base64,{{ img2 }}" width="100%">
        </div>
    </div>
</div>

{% endblock %}