{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="jumbotron mt-4">
            <h1 class="display-4">메인 제목 - Hello World </h1>
            <p class="lead">부 제목 - This is a simple hero unit, a simple jumbotron-style component for calling extra
                attention
                to featured content or information.</p>
        </div>

        <h3>
            Main Page
            <small>summary</small>
        </h3>

        <div class="card-columns mt-4">
            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Rate</h5>
                </div>
            </div>

            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Rate</h5>
                </div>
            </div>

            <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body">
                    <h5 class="card-title">Rate</h5>
                </div>
            </div>
        </div>

        <div class="card-deck  mt-4">
            <div class="card">
                <img src="data:image/png;base64,{{ img }}" width="100%">
                <div class="card-body">
                    <h5 class="card-title">Matplotlib</h5>
                </div>
            </div>
            <div class="card">
                {{ map }}
                <div class="card-body">
                    <h5 class="card-title">Folium</h5>
                </div>
            </div>

            <div class="card">
                <img src="data:image/png;base64,{{ img2 }}" width="100%">
                <div class="card-body">
                    <h5 class="card-title">Matplotlib</h5>
                </div>
            </div>
        </div>

        <p class="lead mt-4">
            국민여행조사 분석 서비스
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris mattis enim non bibendum dictum.
            Pellentesque
            consequat dolor et ullamcorper aliquet. Praesent hendrerit arcu vel viverra tristique. Nulla at risus ut
            orci
            placerat efficitur. Curabitur scelerisque, odio quis ornare aliquam, sem risus volutpat nisi, et tempor
            quam
            sapien vel sem. In hac habitasse platea dictumst. Orci varius natoque penatibus et magnis dis parturient
            montes,
            nascetur ridiculus mus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac
            turpis
            egestas. Mauris vehicula pharetra urna bibendum accumsan. Ut euismod dolor a congue commodo. Morbi
            faucibus
            ut
            elit vitae suscipit. Ut consectetur ante lorem, a tempus nulla imperdiet eu. Sed sed semper sem, nec
            tincidunt
            sapien. Vivamus maximus augue eget elit sagittis, eget tincidunt velit blandit. Suspendisse gravida,
            libero
            in
            eleifend elementum, dolor leo ornare est, nec gravida augue diam a urna.
        </p>

        <p><a href="#" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
    </div>

{% endblock %}